body {
  background-color: rgb(142, 225, 236);
}
#title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: fantasy;
  font-size: 28px;
  height: 27px;
  margin: 60px;
}

#titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}
#doubleLine {
 
  border-top: 4px double #999;
  padding: 10px 0;
}
#image {
  width: 15vw;
  margin-top: 10px;
}
#poemContainer{
  height: 20vh;
  width: 40vw;
  background-color: gray;

}
#blockPara {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
#imageContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
}
#imageNames {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 22px 30px 2px 2px;
  width: 100vw;
}

/* I'm controling the postion of the images here*/

#blockName {
  display: inline-flex;
  align-items: stretch;
  justify-content: space-around;
  height: 60px;
  background-color: black;
}

#blockButton {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  background-color: rgb(166, 157, 180);
  border: none;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  padding: 8px 10px;
  margin-left: 450px;
}

#button {
  display: flex;
  direction: column;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 10px Ariel;
  /* margin-top: 16px; */
  background-color: rgb(181, 163, 199);
}
#quoteContainer {
  display: flexbox;
  flex-direction: row;
  align-self: flex-start;
  font-size: 16px;
  margin-left: 10;
  margin-right: 1px;
  margin-bottom: 10px;
  background-color: gray;
}

#blogContainer {
  width: 200px;
  height: 250px;
  margin-top: auto;
  margin-bottom: 8px;
  background-color: goldenrod;
}

#header {
  display: flex;
  align-items: center;
}
#headerTwo {
  display: flex;
  flex-direction: column;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid black;
  height: 270vh;
}

/*----footer----*/


#blockButtonTwo {
  display: inline-flex;
  flex-direction: column;
  align-content: flex-end;
  background-color: rgb(176, 156, 209);
  border: none;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  padding: 4px 10px;
  width: 12vw;
}
#rightSidebar {
  display: outside;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
  width: 30vw;
  height: 190vh;
  margin-top: 60px;
}
#sideBarWrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
}
#dateBox {
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  background-color: gray;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 4px 8px;
}
#leftSidebar {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 40vw;
  height: 103vh;
 
}
#imageJohn {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 30vw;
  height: 80vh;
  margin-top: 25px;
}
#imageGeorge {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  float: left;
  width: 15vw;
  height: 35vh;
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}
#footerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 85vw;
}
#inputsContainer {
  display: flex;
  flex-direction: column;
  width: 35vw;
}
#mediaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35vw;
  background-color: aquamarine;
}
#mediaOne {
  display: inline;
  flex-direction: column;
}
#mediaContainer {
  display: flex;
  flex-direction: row;
}
.footIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logos {
  width: 20px;
  height: 20px;
}
